
<div class="header-title">
    <div class="container-title">
        <div class="logo"><span class="logo-title"><a href="../">Caraj</a></span></div>
        <div class="header__right-menu">
            <span>@Html.ActionLink("Login", "Login", "Authentication")</span>
            <span>@Html.ActionLink("Register", "Register", "Authentication")</span>
        </div>
    </div>
</div>
