@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<header class="flex-box text-center box header-login">
    <div class="container-home" style="margin:auto">
        <a href="@Url.Action("Index", "Home")">
            <i class="fas fa-home"></i> Back to Home
        </a>
        <h3>Company Login</h3>
        <form method="post" action="/Authentication/GetCompanyLogin">
            <div class="login-home">
                <div class="login-input">
                    <label class="login-label" for="location">Company Name:</label>
                    <input name="username" class="location login-input-fix" type="text" />
                </div>

                <div class="login-input">
                    <label class="login-label" for="location">Password:</label>
                    <input name="password" class="location login-input-fix" type="password" />
                </div>
                <p class="p-error">@TempData["Error"]</p>
                <div class="login-input align-bottom">
                    <button class="search-button" type="submit"><i class="fas fa-lock"></i> Login</button>
                </div>
                <span>@Html.ActionLink("Login as User", "Login", "Authentication")</span>
            </div>
        </form>
    </div>
</header>