@model CarajWeb.Models.CarBring

@{
    ViewBag.Title = "Car Bring";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header class="flex-box text-center box carDetail-landing">
    @{ Html.RenderPartial("_UserControl"); }
</header>
<section class="default-bg margin-medium box">
    <h2>Create</h2>
    <section class="flex-box-paddingS">
        <div class="profile__detail-details text-center flex-box-full">


            <form method="post" action="/Car/Bring">

                <div class="form-horizontal">
                    <input type="text" hidden name="carID" value="@Request.QueryString["id"]" />

                    <div class="form-group">
                        @Html.LabelFor(model => model.endKm, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <input type="number" name="endKM" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Bring Car" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            </form>

            <div>
            </div>
        </div>
    </section>

</section>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
