@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<header class="flex-box text-center box carDetail-landing">
    @{ Html.RenderPartial("_UserControl"); }
</header>
<section class="default-bg margin-medium box">
    <h2><i class="fas fa-check-circle"></i> Reservation Accepted</h2>
</section>