@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var id = Session["CompanyID"].ToString();
}
<header class="flex-box text-center box carDetail-landing">
    @{ Html.RenderPartial("_UserControl"); }
</header>
<section class="default-bg margin-medium box">
    <h2>Company Profile</h2>
    <section class="flex-box-paddingS">
        <div class="profile__detail-details text-center flex-box-full">
            <span class="car__text-age">Cars</span>
            <a href="@Url.Action("Create", "Car")" class="car__btn-rent">
                <i class="fas fa-add"></i> Add New Car
            </a>
            <a href="@Url.Action("List", "Car")" class="car__btn-rent">
                <i class="fas fa-add"></i> List All Cars
            </a>
        </div>
    </section>

</section>