@model List<CarajWeb.Models.Chart>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    string id = (string)Session["UserID"];
    string monthlyCarRental = "";
}
<header class="flex-box text-center box carDetail-landing">
    @{ Html.RenderPartial("_UserControl"); }
</header>
<section class="default-bg margin-medium box">
    <h2>Monthly Car Rental Chart</h2>
    <h1>@ViewBag.CustomerID</h1>
    <section class="flex-box-paddingS">
        <div class="profile__detail-details text-center flex-box-full">
            <div id="chart">
                <div id="timeline-chart"></div>
            </div>
        </div>
    </section>

</section>

<script src="https://cdn.jsdelivr.net/npm/apexcharts@2.1.2"></script>
<script src="~/Content/chart.js"></script>
<script>
    
        @foreach (var item in Model)
        {
            monthlyCarRental += item.monthlyCarRental + ", ";
        }
    options.series = [{
        name: 'monthlyCarRental',
        data: generateDayWiseTimeSeries(0, 12)
    }]
    

    var chart = new ApexCharts(document.querySelector("#timeline-chart"), options);
    chart.render();

    function generateDayWiseTimeSeries(s, count) {

        var values = [
            @monthlyCarRental
        ];
        var i = 0;
        var series = [];
        var x = new Date("1 Jan 2018").getTime();
        while (i < count) {
            series.push([x, values[i]]);
            x += 86400000 * 30; //add 1 month
            i++;
        }
        return series;
    }
</script>